#spring.application.name=user
spring:
  application:
    name: user
  h2:
    console:
      enabled: true
  datasource:
    url: jdbc:h2:mem:test
  jpa:
    show-sql: true
    hibernate:
      ddl-auto: create
server:
  port: 8082

