#spring.application.name=product
spring:
  datasource:
    url: jdbc:postgresql://ep-spring-tooth-ah910vfj-pooler.c-3.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require
    username: ${DB_USER}
    password: ${DB_PASSWORD}
    driver-class-name: org.postgresql.Driver

  rabbitmq:
    host: localhost
    port: 5672
    username: guest
    password: guest
  jpa:
    database: POSTGRESQL
    show-sql: true
    hibernate:
      ddl-auto: update
    database-platform: org.hibernate.dialect.PostgreSQLDialect


server:
  port: 8083

management:
  endpoints:
    web:
      exposure:
        include: "*"

app:
  message: "Hello"

eureka:
  client:
    serviceUrl:
      defaultZone: http://localhost:8761/eureka/
    register-with-eureka: true
    fetch-registry: true

logging:
  file:
    name: logs/app.log
  logback:
    rollingpolicy:
      max-file-size: 5MB
      max-history: 7